src/main/app/test1.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:https="http://www.mulesoft.org/schema/mule/https"
	xmlns:json="http://www.mulesoft.org/schema/mule/json"
	xmlns:file="http://www.mulesoft.org/schema/mule/file"
	xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw" xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.mulesoft.org/schema/mule/https http://www.mulesoft.org/schema/mule/https/current/mule-https.xsd
http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd">
    <http:listener-config name="HTTP_Listener_Configuration_on_port_8081" host="localhost" port="8081" doc:name="HTTP Listener Configuration"/>
     <http:listener-config name="HTTP_Listener_Configuration2_on_port_8082" host="localhost" port="8082" doc:name="HTTP Listener Configuration"/>

    <db:oracle-config name="Oracle_Configuration" host="10.0.31.11" port="1521" instance="odev11" user="praktyka" password="praktyka" doc:name="Oracle Configuration"/>
    
    
    <spring:beans>
    	<spring:bean class="test1.InvokeSpringBean" name="InvokeSpringBean" >
    	</spring:bean>
    </spring:beans>
    
    <flow name="localhost:8081/test/example">
        <http:listener config-ref="HTTP_Listener_Configuration_on_port_8081" path="test/{paramname}" allowedMethods="GET" doc:name="HTTP"/>
        <set-payload value="#[message.inboundProperties.'http.uri.params'.paramname]" doc:name="Set Payload"/>
        <custom-transformer class="test1.KeyTransformer" doc:name="Java"/>
        <echo-component doc:name="Echo"/>
        <logger message="You are log in on website: #[message.inboundProperties.'http.request.path'] and port #[message.inboundProperties.'host']" level="INFO" doc:name="Logger"/>
    </flow>
    <flow name="localhost:8081/db/">
        <http:listener config-ref="HTTP_Listener_Configuration_on_port_8081" path="/db/" allowedMethods="GET" doc:name="HTTP"/>
        <db:select config-ref="Oracle_Configuration" doc:name="Database">
            <db:parameterized-query><![CDATA[SELECT * FROM PRACOWNICY]]></db:parameterized-query>
        </db:select>
        <dw:transform-message doc:name="Transform Message">
            <dw:set-payload><![CDATA[%dw 1.0
%output application/json
---
pracownicy: payload map {
	identyfikator: $.IDENTYFIKATOR,
	imie: $.IMIE,
	nazwisko: $.NAZWISKO
}]]></dw:set-payload>
        </dw:transform-message>
        <echo-component doc:name="Echo"/>
    </flow>
    <flow name="http://localhost:8081/spring?text=example">
        <http:listener config-ref="HTTP_Listener_Configuration_on_port_8081" path="/spring" allowedMethods="GET" doc:name="HTTP" doc:description="java Beans are in tab Configuration XML on the bottom site."/>
        
        <invoke object-ref="InvokeSpringBean" method="methodA" doc:name="Invoke Spring Bean" />
        <echo-component doc:name="Echo"/>
        
        <invoke object-ref="InvokeSpringBean" method="methodB" doc:name="Invoke Spring Bean" methodArguments="#[message.inboundProperties.'http.query.params'.['text']]"/>
        <echo-component doc:name="Echo"/>
    </flow>
        <flow name="localhost:8081/download/file" >
        <http:listener config-ref="HTTP_Listener_Configuration_on_port_8081" path="/download/{filename}" doc:name="HTTP"/>
        <set-payload value="#[message.inboundProperties.'http.uri.params'.filename]" doc:name="Set Payload"/>
        <file:outbound-endpoint path="E:\" outputPattern="#[message.inboundProperties.'http.uri.params'.filename].txt" responseTimeout="10000" doc:name="File"/>
    </flow>
 
     <flow name="localhost:8082/test/example">
        <http:listener config-ref="HTTP_Listener_Configuration2_on_port_8082" path="test/{paramname}" allowedMethods="GET" doc:name="HTTP"/>
        <set-payload value="#[message.inboundProperties.'http.uri.params'.paramname]" doc:name="Set Payload"/>
        <custom-transformer class="test1.KeyTransformer" doc:name="Java"/>
        <echo-component doc:name="Echo"/>
        <logger message="You are log in on website: #[message.inboundProperties.'http.request.path'] and port #[message.inboundProperties.'host']" level="INFO" doc:name="Logger"/>
    </flow>
   
    
</mule>
